.header-menu a {
  color: var(--Dark-03, #706f6f);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  text-decoration: none;
  margin-right: 10px;
}
